body {
    background: #141217 ; 
 }
 #skyline {
     height: 435px;
     width: 100%
 }
 
 .navbar {
     background: #1a151b;
 }
 .navbar.p-4 {
     background: #1a151b;
 }
 h1 {
     text-align: center;
     color: white;
     margin-top: 25px;
 }

 h3{
     color: white;
 }

 h4{
     color: white;
 }
 h5 {
     font-family: 'Yellowtail', cursive;
     letter-spacing: 2px;
     font-size: 11.5px;
     color: #dee2e6;
 }
 h6{
     color:white;
 }
 P {
     color:white;
 }

 #slogan {
    color: #dee2e6;
    font-family: 'Yellowtail', cursive;
    font-size: medium;
 }
 
 .nav-link:hover {
     background: white;
 }

